<div>
	{{title}}
	<div>
		<span></span>
	</div>

<!-- the ng-model is basically a "random name.the part of data you want to search" so search.from. Search takes the place of email on line 18-->
	<div>
 		<input ng-model="search.from"; placeholder="search"></input> 
	</div>

	<table style="width:100%; text-align: left">
	  <tr>
	    <th>From</th>
	    <th>Subject</th>
	    <th>Date</th>
	  </tr>
	  
	  <!-- the filter is whatever is plugged into the input on line 9 -->
	  <tr ng-repeat="email in emails | filter:search"> 
	    <td ui-sref="inboxEmail({id: email.id})">{{email.from}}</td>
	    <td>{{email.subject}}</td>
	    <td>{{email.date}}</td>
	  </tr>
	</table>
	<!-- <div ng-click="getMessages()">{{emails}}</div> -->
	<!-- ng-repeat for messages array -->
	<!-- <ul>
		<li ng-repeat="email in emails">
			<span ui-sref="inboxEmail({id: email.id})">
				email {{email}}
			</span> 

			<span ng-click="goToMessage(email.id)"> this is if you want to do this with state.go
				email {{email}}
			</span>
		</li>
	</ul> -->
	<!-- wrap this in a ng-click and have it call a function to assign id then invoking state.go. -->
</div>